.homePage {

  display: flex;
}

.dropdown {
  padding: 10px;
}

.homeContainer {
  padding: 15px;
  width: 20%;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction:row;
}

.homeCard {
  width: 23vw;
  min-height: 18vh;
  border: 2px solid gray;
  border-radius: 5px;

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background: white;
}

.homeCard:hover {
  background: #e8e8e8;
}

.homeCardBody {
  margin: 15px;
}

.homeJobLocation {
  color: black;
  margin-bottom: 5px;
}

.homeJobCost {
  color: black;
}

.job:hover {
  text-decoration: none;
}

.row {
  margin-top: 35px;
}

.favourCtr {
  margin: 10px;
  float: top;
  background-color: white;
  width: 60%;
}