
/*
  Original Code
*/

/* .jobImage {
  width: 300px;
  height: 300px;
  margin-right: 10px;
}

.btn-toolbar {
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}

.ratingContainer {
  display: flex;
  justify-content: left;
}

.sellerRating {
  display: inline;
  margin-left: 5px;
}

.container {
  margin-top: 30px;
} */

.job-page * {
  border-style: solid;
  border-width: 1px;
}
