.userinfo {
  margin-top: 80px;
  flex: 0.8;
  margin-right: 100px;
}

.profile-card-header {
  font-size: large;
}

.checked {
  color: orange;
}

.btn-group {
  width: 100%;
}

.feedback-bar {
  text-align: center;
}

.positive {
  font-weight: 500;
  text-align: left;
  margin-left: -2px;
  float: left;
}
.neutral {
  font-weight: 500;
  text-align: center;
}
.negative {
  font-weight: 500;
  text-align: right;
  margin-right: 10px;
  float: right;
}
