.Profile-page {
  display: flex;
  background-color: rgb(236, 243, 247);
}

.profilePicCard {
  margin-left: 20px;
  margin-top: 100px;
  flex: 0.13;
}

.Profile-picture {
  height: 200px;
  width: 200px;
}

.balance {
  margin-left: 60px;
}
